{% extends "base.html" %}
{% block html_header %}
    <!-- Kakao Map API -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=81103efe5f01dd91c2f5a419b44d6890&libraries=services"></script>
    <!-- Kakao jQuery -->
    <script src="/static/js/storemap.js"></script>
{% endblock %}
{% block html_body %}
    <section class="map_section">
        <div class="map_wrap">
 
            <div id="map_box"></div>

            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <div>
                        <form id="searchForm">
                            키워드 :
                            <input type="text" value="제로웨이스트샵" id="keyword" size="15">
                            <button type="submit">검색하기</button>
                        </form>
                    </div>
                </div>
                <hr>
                <ul id="placesList">
                </ul>
                <div id="pagination"></div>
            </div>
        </div>
    </section>
{% endblock %}
