{% extends "base.html" %}
{% load static %}

{% block html_header %}
    <link rel="stylesheet" href="{% static '/css/board_read.css' %}">
{% endblock %}

{% block html_body %}
    <h1 class="post-title">{{ notice.nb_title }}</h1>
    <div class="post-container">
        {% if notice %}
            <p class="post-meta">작성일: {{ notice.nb_date|date:'Y-m-d H:i' }}</p>
            <hr>
            <p class="post-content">{{ notice.nb_content }}</p>

            <!-- 이미지 보여주기 -->
            {% if notice.nb_image %}<img src="{{ notice.nb_image.url }}" alt="Notice Image" class="post-image">{% endif %}

            <!-- 버튼 -->
            <div class="post-actions">
                {% if request.user.is_superuser %}
                    <button type="button"
                            onclick="location.href='/noticeboard/update/{{ notice.id }}'"
                            class="button secondary">수정</button>
                    <button type="button"
                            onclick="location.href='/noticeboard/list'"
                            class="button list">목록</button>
                    <button type="button"
                            onclick="location.href='/noticeboard/delete/{{ notice.id }}'"
                            class="button delete">삭제</button>
                {% else %}
                    <button type="button"
                            onclick="location.href='/noticeboard/list'"
                            class="button list">목록</button>
                {% endif %}
            </div>
        </div>
    {% else %}
        <p>해당 게시글을 찾을 수 없습니다.</p>
    {% endif %}
</body>
{% endblock %}
