{% extends "base.html" %}
{% block html_header %}{% endblock %}
{% block html_body %}
    <body>
        {% if notice %}
            <h1>{{ notice.nb_title }}</h1>
            <p>작성일: {{ notice.nb_date }}</p>
            <p>{{ notice.nb_content }}</p>
            <!-- 이미지 보여주기 -->
            {% if notice.nb_image %}
                <img src="{{ notice.nb_image.url }}" width="500px" height="300px">
                <br>
                <br>
            {% endif %}

            <div class="post-actions">
                <button type="button"
                        onclick="location.href='/noticeboard/list/'"
                        class="button">목록</button>
                {% if request.user.is_superuser %}
                    <a href="/noticeboard/update/{{ notice.id }}" class="button secondary">수정</a>
                    <a href="/noticeboard/delete/{{ notice.id }}" class="button delete">삭제</a>
                {% endif %}
            </div>

        {% else %}
            <p>해당 게시글을 찾을 수 없습니다.</p>
        {% endif %}
    {% endblock %}
