{% extends 'base.html' %}
{% block html_header %}<link href="/static/css/activity_rank.css" rel="stylesheet" />{% endblock %}
{% block html_body %}

    <div class="square">
        <h1 class="rank_title">사용자 랭킹</h1>
        <table>
            <tr class="table_top">
                <th>회원 랭크</th>
                <th>회원 이름</th>
                <th>분리수거 점수</th>
                <th>최근 분리수거 이용 날짜</th>
            </tr>
            {% for user_rank in all_user_rank_list %}
                <tr class="tr_bg">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user_rank.1 }}</td>
                    <td>{{ user_rank.0 }}</td>
                    <td>{{ user_rank.2.use_date|date:'Y-m-d H:i' }}</td>
                </tr>
            {% endfor %}
        </table>

        <br />
        <br />
        {% if current_user_data %}
            <h1 class="rank_title">{{ request.user.username }} 님의 랭킹</h1>
            <table>
                <tr class="table_top">
                    <th>회원 랭크</th>
                    <th>회원 이름</th>
                    <th>분리수거 점수</th>
                    <th>최근 분리수거 이용 날짜</th>
                </tr>

                <tr class="tr_user">
                    <td>{{ current_user_rank }}</td>
                    <td>{{ current_user_data.1 }}</td>
                    <td>{{ current_user_data.0 }}</td>
                    <td>{{ current_user_data.2.use_date|date:'Y-m-d H:i' }}</td>
                </tr>

            </table>
        {% endif %}
    </div>



{% endblock %}
