{% extends 'base.html' %}
{% block html_body %}
    <h1>ranktest html입니다!</h1>
    <h3>나중에 삭제해주세요!</h3>
    <table>
        <tr>
            <th>회원 랭크</th>
            <th>분리수거 점수</th>
            <th>최근 분리수거 이용 날짜</th>
        </tr>
        {% for user_rank in all_user_rank_list %}
            <tr>
                <td>{{ forloop.counter }}. {{ user_rank.1 }}</td>
                <td>{{ user_rank.0 }}</td>
                <td>{{ user_rank.2.use_date|date:'Y-m-d H:i' }}</td>
            </tr>
        {% endfor %}

        {% if current_user_data %}
            <tr>
                <td>&nbsp</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td>{{ current_user_rank }}. {{ current_user_data.1 }}</td>
                <td>{{ current_user_data.0 }}</td>
                <td>{{ current_user_data.2.use_date|date:'Y-m-d H:i' }}</td>
            </tr>
        {% endif %}
    </table>

{% endblock %}
