/* 스타일링 추가 */
.post-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1.5px solid #99ba8b;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post-title {
  max-width: 1000px;
  font-size: 30px;
  padding: 15px 15px; /*  상자내부 간격 : 위아래 5px, 오른쪽왼쪽 15px  */
  background: #e9efe8; /* 배경색 컬러코드로 변경가능   */
  border-radius: 10px; /*  테두리 둥근처리 숫자로 조정가능  */
  border: 1.5px solid #278604;

  margin: 0 auto; /* 왼쪽과 오른쪽 마진을 자동으로 설정하여 가운데 정렬 */
  margin-bottom: 10px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  color: #888;
  margin-bottom: 5px;
}

.post-content {
  margin-top: 20px;
}

.post-image {
  max-width: 100%;
  max-height: 300px; /* 예시로 300px로 설정 */
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.post-actions .button,
.post-actions .secondary,
.post-actions .delete {
  margin: 0 5px; /* 각 버튼 사이의 간격을 조정할 수 있습니다 */
}

/* 작성 버튼 스타일 */
.btn-container {
  max-width: 1100px;
  /*margin: 0 auto;*/
  /*padding: 30px;*/
  margin-top: 1px;
  margin-bottom: 30px;
}

.btn-write {
  background-color: #99ba8b;
  color: #fff;
  border-color: #005a00;
  float: right; /* 버튼을 오른쪽으로 이동 */
}

.btn-write:hover {
  background-color: #99ba8b;
  color: #fff;
  border-color: #005a00; /* 호버 효과 시 초록색 테두리로 변경 */
}

/* 버튼 스타일 */
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

/*수정*/
.button.secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #99ba8b;
  border: 1px solid #278604;
}
.button.secondary:hover {
  background-color: #005a00ff;
  color: #fff;
  border: 1px solid #278604;
}

/*삭제*/
.button.delete {
  background-color: rgba(0, 0, 0, 0);
  color: #99ba8b;
  border: 1px solid #278604;
}
.button.delete:hover {
  background-color: #005a00ff;
  color: #fff;
  border: 1px solid #005a00ff;
}

/*목록*/
.button.list {
  background-color: #99ba8b;
  color: #fff;
  border: 1px solid #005a00ff;
}

.button.list:hover {
  background-color: #005a00ff;
  color: #fff;
  border: 1px solid #005a00ff;
}
