body {
  position: fixed;
  width: 100%;
  background-color: #f7f7f7;
}
.classify_title_text {
  position: relative;
  left: 34%;
  color: #55654d;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 1%;
}

.classify-section {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 40%);
}

.classify-form {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.classify-result-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
}

.square-result {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 800px;
  border-radius: 40px;
  border: dashed;
  border-width: 10px;
  border-color: #a6ca99;
  position: relative;
  top: 0%;
  transform: translate(0%, -17.5%);
  background-color: rgb(239, 252, 235);
}

.result-page-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  left: -30%;
  font-weight: bold;
  color: #55654d;
}

.result-classify {
  margin-top: 30px;
  width: 1500px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0%;
  transform: translate(-5%, 0%);
  font-weight: bold;
}

.result-img {
  width: 400px;
  max-height: 300px;
  object-fit: scale-down;
  background-color: #ffffff;
  border: solid;
  border-width: 10px;
  border-color: #5e7d52;
}

.result-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  position: relative;
  left: 0%;
  transform: translate(-70%, 0%);
  color: #0a326a;
}

.result-tip-title {
  font-size: 30px;
  font-weight: bold;
  color: #55654d;
}

.result-tip {
  margin-top: 20px;
  width: 1500px;
  height: 300px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  position: relative;
  left: 0%;
  transform: translate(9%, 0%);
  font-weight: bold;
  color: #0a326a;
}

#dropzone {
  border: 2px dashed #ffc107;
  width: 700px;
  height: 350px;
  line-height: 350px;
  font-size: 70px;
  color: #ccc;
  text-align: center;
}

.manual-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  line-height: 100%;
  text-align: center;
}

p {
  margin-top: 20px;
}

.square {
  width: 800px;
  height: 500px;
  border-radius: 40px;
  border: dashed;
  border-width: 10px;
  border-color: #a6ca99;
  position: relative;
  background-color: rgb(239, 252, 235);
}

/*!* 파일 선택 버튼 스타일 *!*/
/*.manual-form input[type="file"] {*/
/*  !* 파일 선택 버튼 스타일 속성들을 여기에 추가 *!*/
/*  background-color: #4caf50;*/
/*  color: white;*/
/*  padding: 10px 20px;*/
/*  border-radius: 5px;*/
/*}*/

/*!* 파일 선택 버튼 hover 효과 *!*/
/*.manual-form input[type="file"]:hover {*/
/*  cursor: pointer; !* 원하는 마우스 커서로 변경 *!*/
/*}*/
