{% extends "base.html" %}
{% block html_header %}
    <link href="/static/css/recycle_chart_css.css" rel="stylesheet">
    <link href="/static/css/button.css" rel="stylesheet">
{% endblock %}
{% block html_body %}

    <section class="pass_square">

        <span>
            <div class="pass_div">
                <h1 class="pass_h1">Password Change</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <div>{{ form.as_p }}</div>
                        <div class="pass_div_button">
                            <button class="btn btn-primary btn-ghost" type="submit">변경</button>
                            <button class="btn btn-primary btn-ghost"
                                    type="button"
                                    onclick="location.href='{% url "users:mypage_view" %}'">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </span>
    </section>

{% endblock %}
