{% extends "base.html" %}
{% block html_header %}{% endblock %}
{% block html_body %}
    <h1>{{ user }}</h1>
    <section>
        <span>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">변경</button>
                    <button type="button" onclick="location.href='{% url "users:mypage_view" %}'">취소</button>
                </form>
            </div>
        </span>
    </section>

{% endblock %}
