{% extends "base.html" %}
{% block html_header %}<link href="/static/css/login.css" rel="stylesheet">{% endblock %}
{% block html_body %}
    <section class="gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-maintheme text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="pb-5" id="login">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">이메일과 비밀번호를 기입해주세요</p>

                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}<span style="color : red">{{ form.non_field_errors }}</span>{% endif %}
                                    <div class="form-outline form-white mb-4">
                                        <input type="email"
                                               name="{{ form.email.name }}"
                                               id="{{ form.email.auto_id }}"
                                               class="form-control form-control-lg"
                                               value="{{ form.email.value|default:'' }}"
                                               {% if form.email.field.required %}required{% endif %}
                                               placeholder="{{ form.email.field.widget.attrs.placeholder }}" />
                                        <label class="form-label" for="{{ form.email.auto_id }}">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password"
                                               name="{{ form.password.name }}"
                                               id="{{ form.password.auto_id }}"
                                               class="form-control form-control-lg"
                                               value="{{ form.password.value|default:'' }}"
                                               {% if form.password.field.required %}required{% endif %}
                                               placeholder="{{ form.password.field.widget.attrs.placeholder }}" />
                                        <label class="form-label" for="{{ form.password.auto_id }}">Password</label>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">로그인</button>
                                </form>
                            </div>

                            <div>
                                <p class="mb-0">
                                    회원이 아니신가요? <a href="{% url 'users:signup' %}" class="text-white-50 fw-bold">회원가입</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
