{% extends "base.html" %}
{% block html_header %}{% endblock %}
{% block html_body %}
<section>
    <h1>{{ user }} 님</h1>
    <div class="mypage-main">
        <div class="mypage-section-a">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">회원정보 수정</button>
                <button type="button" onclick="location.href='{% url "users:change_password_view" %}'">비밀번호 변경</button>
            </form>
        </div>
        <div class="mypage-section-b">
            <div class="mypage-section-obj">
                <img src="/static/image/post_icon.png" alt="post_icon" class="mypage-status-ico" />
                <p>게시물 작성</p>
                &nbsp;
                <p>10</p>
                &nbsp;
                <p>개</p>
            </div>
            <div class="mypage-section-obj">
                <img src="/static/image/comment_icon.png" alt="post_icon" class="mypage-status-ico" />
                <p>댓글 작성</p>
                &nbsp;
                <p>10</p>
                &nbsp;
                <p>개</p>
            </div>
            <div class="mypage-section-obj">
                <img src="/static/image/recycle_count_icon.png" alt="post_icon" class="mypage-status-ico" />
                <p>분리배출</p>
                &nbsp;
                <p>10</p>
                &nbsp;
                <p>번</p>
            </div>

        </div>
    </div>
</section>

{% endblock %}
