{% extends "base.html" %}
{% block html_header %}{% endblock %}
{% block html_body %}
    <body class="demo">
        <div class="container">
            <h1>QnA</h1>
            <br>
            <h5>질문과 인증 게시판이에요</h5>
            <br>

            <!-- 글쓰기 버튼을 추가하고 링크 생성 -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'qnaboard:create' %}" class="btn btn-primary">글쓰기</a>
                <br>
                <br>
            {% endif %}

            <div class="scroll-window-wrapper">
                <div class="scroll-window">
                    <table class="table is-fixed-header">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                                <th scope="col">작성일</th>
                                <th scope="col">조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                                <tr onclick="window.location='{% url 'qnaboard:read' post.id %}'"
                                    style="cursor: pointer">
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.qb_title }}</td>
                                    <td>{{ post.user }}</td>
                                    <td>{{ post.qb_date }}</td>
                                    <td>{{ post.qb_view_count }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}

                        <!-- 페이징 -->
                        <div style="text-align:center">
                            <div class="pagination">

                                <div style="width:35%; margin: 5px;">
                                    {% if board_list.has_previous %}
                                        <a class="abutton" href="?page=1">맨앞</a>
                                        <a class="abutton" href="?page={{ page.previous_page_number }}">이전</a>
                                    {% endif %}
                                </div>

                                <div style="width:30%; margin: 5px;">
                                    {% for page in page.paginator.page_range %}
                                        {% if page_num >= page.number|add:-2 and page_num <= page.number|add:2 %}
                                            <span class="{% if page_num == page.number %}current{% endif %}">
                                                <a href="?page={{ page_num }}">{{ page_num }}</a>
                                            </span>
                                        {% elif page_num >= page.number|add:-3 and page_num <= page.number|add:3 %}
                                            ..
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div style="width:35%; margin: 5px;">
                                    {% if board_list.has_next %}
                                        <a class="abutton" href="?page={{ page.next_page_number }}">다음</a>
                                        <a class="abutton" href="?page={{ page.paginator.num_pages }}">맨 뒤</a>
                                    {% endif %}
                                </div>
                                {#                        </tbody>#}
                            </table>
                        </div>
                    </div>
                </div>
            </body>
        {% endblock %}
