<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>분리수고 {{ page_title }}</title>

        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>

        <!-- BootStrap CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              crossorigin="anonymous">

        <!-- CSS 경로 -->
        <link href="/static/css/cover.css" rel="stylesheet">
        <link href="/static/css/button.css" rel="stylesheet">
        {% block html_header %}{% endblock %}

    </head>
    <body>
        <!--Main Navigation-->
        <header>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-4 px-lg-5 wow fadeIn"
                 data-wow-delay="0.1s"
                 style="visibility: visible;
                        animation-delay: 0.1s;
                        animation-name: fadeIn">
                <a href="index.html" class="logo navbar-brand p-0">
                    <a href="/">
                        <img class="mainlogo" src="/static/image/logo.png" alt="#" />
                    </a>
                </a>
                <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="{% url 'classify:image_upload' %}" class="nav-item nav-link">Recycle</a>

                        <div class="dropdown">
                            <a href="#"
                               class="nav-item nav-link dropdown-toggle"
                               data-bs-toggle="dropdown">Activity</a>
                            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                                <a href="{% url 'activity:user_rank' %}" class="dropdown-item">사용자 분리수거 순위</a>
                                <a href="{% url 'activity:recycle_status' %}" class="dropdown-item">월간 분리수거 통계</a>
                                <a href="{% url 'activity:gallery_view' %}" class="dropdown-item">최고의 쓰레기 갤러리</a>
                            </div>
                        </div>
                        <a href="{% url 'storemap:storemap_view' %}" class="nav-item nav-link">StoreMap</a>
                        <a href="{% url 'qnaboard:list' %}" class="nav-item nav-link">QnA</a>
                        <a href="{% url 'noticeboard:list' %}" class="nav-item nav-link">Notice</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'users:logout_view' %}" class="nav_button">Logout</a>
                            <a href="{% url 'users:mypage_view' %}" class="nav_button">Mypage</a>
                        {% else %}
                            <a href="{% url 'users:login_view' %}" class="nav_button">Login</a>
                            <a href="{% url 'users:signup' %}" class="nav_button">SignUp</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <hr style="border: solid 2px #c9e5bf; margin: 0.5rem 0;">
            <!-- Navbar -->
        </header>
        <!--Main Navigation-->

        {% block html_body %}{% endblock %}
        <div style="margin-bottom: 100px;"></div>
    </body>
</html>
