{% extends "base.html" %}
{% block html_header %}<link href="/static/css/home_action.css" rel="stylesheet">{% endblock %}
{% block html_body %}

    <section style="height: 100%">
        <div class="all-wrap">
            <div class="all">
                <div class="yarn"></div>
                <div class="cat-wrap">
                    <div class="cat">
                        <div class="cat-upper">
                            <div class="cat-leg"></div>
                            <div class="cat-leg"></div>
                            <div class="cat-head">
                                <div class="cat-ears">
                                    <div class="cat-ear"></div>
                                    <div class="cat-ear"></div>
                                </div>
                                <div class="cat-face">
                                    <div class="cat-eyes"></div>
                                    <div class="cat-mouth"></div>
                                    <div class="cat-whiskers"></div>
                                </div>
                            </div>
                        </div>
                        <div class="cat-lower-wrap">
                            <div class="cat-lower">
                                <div class="cat-leg">
                                    <div class="cat-leg">
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-leg">
                                                                                            <div class="cat-leg">
                                                                                                <div class="cat-paw"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-leg">
                                    <div class="cat-leg">
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-leg">
                                                                                            <div class="cat-leg">
                                                                                                <div class="cat-paw"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cat-tail">
                                    <div class="cat-tail">
                                        <div class="cat-tail">
                                            <div class="cat-tail">
                                                <div class="cat-tail">
                                                    <div class="cat-tail">
                                                        <div class="cat-tail">
                                                            <div class="cat-tail">
                                                                <div class="cat-tail">
                                                                    <div class="cat-tail">
                                                                        <div class="cat-tail">
                                                                            <div class="cat-tail">
                                                                                <div class="cat-tail">
                                                                                    <div class="cat-tail">
                                                                                        <div class="cat-tail">
                                                                                            <div class="cat-tail -end"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="horizon">
            <div class="glow"></div>
        </div>
        <div id="earth"></div>
    </div>

    <img class="main_section_logo"
         src="/static/image/section_logo.png"
         alt="#" />
    <button class="home_recycle_button">
        <span>Go To Recycle</span>
	
    </button>
</div>
</section>

{% endblock %}
